server:
  port: 8081
spring:
  application:
    name: room-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/bookDb
    username: root
    password: admin
    spring:
      jpa:
        hibernate:
#          naming:
#            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyLegacyJpaImpl
        ddl-auto: create
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL8Dialect
api:
  security:
    token:
      secret: secret-key-to-test
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
management:
  endpoints:
    web:
      exposure:
        include: "*"